################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoBase/v17
/.vs/DemoBase/FileContentIndex
/Dal/.vs
/DomainModel/.vs
/Bll/bin/Debug/Bll.dll
/Bll/bin/Debug/Bll.pdb
/Bll/bin/Debug/Dal.dll
/Bll/bin/Debug/Dal.pdb
/Bll/bin/Debug/DomainModel.dll
/Bll/bin/Debug/DomainModel.pdb
/Bll/bin/Debug/Services.dll
/Bll/bin/Debug/Services.pdb
/Dal/obj/Debug/Dal.csproj.AssemblyReference.cache
/Dal/obj/Debug/Dal.csproj.CoreCompileInputs.cache
/Dal/obj/Debug/Dal.csproj.FileListAbsolute.txt
/Dal/obj/Debug/Dal.dll
/Dal/obj/Debug/Dal.pdb
/UI/obj/Debug/UI.csproj.AssemblyReference.cache
/UI/obj/Debug/UI.exe
/UI/obj/Debug/UI.pdb
/Services/obj/Debug/Services.dll
/Services/obj/Debug/Services.pdb
/Services/bin/Debug/Services.dll
/Services/bin/Debug/Services.pdb
/DomainModel/obj/Debug/DomainModel.dll
/DomainModel/obj/Debug/DomainModel.pdb
/DomainModel/bin/Debug/DomainModel.dll
/DomainModel/bin/Debug/DomainModel.pdb
/Dal/bin/Debug/Dal.dll
/Dal/bin/Debug/Dal.pdb
/Dal/bin/Debug/DomainModel.dll
/Dal/bin/Debug/DomainModel.pdb
/Dal/bin/Debug/Services.dll
/Dal/bin/Debug/Services.pdb
/Bll/obj/Debug/Bll.csproj.AssemblyReference.cache
/Bll/obj/Debug/Bll.dll
/Bll/obj/Debug/Bll.pdb
/UI/bin/Debug/Bll.dll
/UI/bin/Debug/Bll.pdb
/UI/bin/Debug/Dal.dll
/UI/bin/Debug/Dal.pdb
/UI/bin/Debug/UI.exe
/UI/bin/Debug/UI.pdb
/Bll/bin/Release
/Bll/obj/Release
/Dal/bin/Release
/Dal/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Dal/obj/Release
/Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Services/obj/Debug/Services.csproj.AssemblyReference.cache
/Services/obj/Debug/Services.csproj.CoreCompileInputs.cache
/Services/obj/Release
/UI/bin/Release
/UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/UI/obj/Debug/UI.csproj.FileListAbsolute.txt
/UI/obj/Release
/Patrones/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DemoParcial/obj/Debug
/Patrones/bin/Debug/Patrones.exe
/Patrones/bin/Debug/Patrones.pdb
/Patrones/obj/Debug/Patrones.csproj.CoreCompileInputs.cache
/Patrones/obj/Debug/Patrones.exe
/Patrones/obj/Debug/Patrones.pdb
