################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/DemoBase/v17
/.vs/DemoBase/FileContentIndex
/Dal/.vs
/DomainModel/.vs
