<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SecurityString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SecurityDB;User ID=securityUser;Password=1234" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>