<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="backendType" value="memory"/>
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Practica2025;User ID=practica;Password=QWE123rty;Trust Server Certificate=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>